<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/image/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?0b679ce32c80131bfbd2f7ba9b139968";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>

<body>
<div class="welcome">
    <header class="">
        <a href="" class="logo">
            <div class="logo-name">
                <!-- DONGYU -->
            </div>
        </a>
        <ul class="menu">
            <a href="/">
              Home
            </a>
            <a href="about">
              About
            </a>
            <a href="me">
              Me
            </a>
            <a href="signup">
                sign
            </a>

        </ul>
    </header>
    <section class="home">
        <div class="slides">
            <div class="slide">
                <div class="title-wraper">
                    <div class="title">
                        <span class="letter">
                            <span class="inner" style="">{{monthly[0]}}</span>
                        </span>
                        <span class="letter">
                            <span class="inner" style="">{{monthly[1]}}</span>
                        </span>
                        <span class="letter">
                            <span class="inner" style="">{{monthly[2]}}</span>
                        </span>
                    </div>
                </div>
                <div class="img">
                    <div class="img-wrapper" style="transform: rotateX(4.66527deg) rotateY(3.74411deg) translateZ(0px);">
                        <img src={{image}} alt="" style="transform: translate(-50%, 0%) matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- <div class="banner">
    <img src="/image/girl.jpg" alt="">
</div> -->
<!-- <div class="container">
{{each itemList as item}}
    <ul>
        <li>{{item.name}}</li>
        <li>{{item.id}}</li>
        <li>{{item.descript}}</li>
    </ul>
{{/each}}
</div> -->

{{include './public/pubjs'}}
<script src="/js/home.js"></script>

{{include './public/footer'}} 