<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/image/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://hm.baidu.com/hm.js?0b679ce32c80131bfbd2f7ba9b139968"></script>
</head>

<body>
<div class="welcome">
    <header class="">
        <a href="" class="logo">
            <div class="logo-name">
                <!-- DONGYU -->
            </div>
        </a>
        <ul class="menu">
            <a href="/">
              Home
            </a>
            <a href="signup">
                sign
            </a>
            <a href="me">
                me
            </a>

        </ul>
    </header>
    <section class="home">
        <div class="slides">
            <div class="slide">
                <div class="title-wraper">
                    <div class="title">
                        <span class="letter">
                            <span class="inner" style="">{{monthly[0]}}</span>
                        </span>
                        <span class="letter">
                            <span class="inner" style="">{{monthly[1]}}</span>
                        </span>
                        <span class="letter">
                            <span class="inner" style="">{{monthly[2]}}</span>
                        </span>
                    </div>
                </div>
                <div class="img">
                    <div class="img-wrapper" style="transform: rotateX(4.66527deg) rotateY(3.74411deg) translateZ(0px);">
                        <img src={{image}} alt="" style="transform: translate(-50%, 0%) matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{include './public/pubjs'}}
<script src="/js/home.js"></script>