
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/image/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/library.css">
    <script src="https://hm.baidu.com/hm.js?0b679ce32c80131bfbd2f7ba9b139968"></script>
</head>

<body>
    <div class="container">
        <a href="/picture">照片墙</a>
    </div>
    {{include './public/pubjs'}}
    <script src="/js/library.js"></script>
</body>

</html>