<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/image/favicon.ico" />
    <link rel="stylesheet" href="/css/me.css">
    <script src="https://hm.baidu.com/hm.js?0b679ce32c80131bfbd2f7ba9b139968"></script>
</head>

<body>
    <div class="main-container">
        <section class="section section-header">
            <div class="section-bg section-header-bg"></div>
            <div class="section-bg section-content-bg"></div>
            <div class="container">
                <header class="header">
                    <div class="header-box">
                        <div class="avatar wow inShow no-print"><img src="/image/avator2.png" alt="" class="img-responsive"></div>
                        <h1 class="name text-center wow inShow no-print">{{nickname}}</h1>
                        <h1 class="name text-center hide show-print-block">{{name}}</h1></div>
                </header>
                <div class="section-content">
                    <div class="content-box">
                        <div class="name-slogan">
                            <h2 class="wow inShow no-print" data-wow-delay="0.1s"><span class="text-light">{{lastName}}</span>&nbsp;{{firstName}}</h2>
                            <div class="description wow inShow" data-wow-delay="0.15s">{{slogan}}</div>
                        </div>
                        <div class="contact-info">
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="item wow inShow" data-wow-delay="0.3s">
                                        <h4>性别</h4>
                                        <div class="info">{{sex}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="item wow inShow" data-wow-delay="0.45s">
                                        <h4>年龄</h4>
                                        <div class="info">{{age}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3"><a class="item wow inShow" data-wow-delay="0.5s" href="{{website}}" target="_blank"><h4>经验</h4><div class="info">{{exp}}</div></a></div>
                                <div class="col-md-6 col-lg-3"><a class="item wow inShow" data-wow-delay="0.55s" href={{email}}><h4>Email</h4><div class="info">{{email}}</div></a></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="item wow inShow" data-wow-delay="0.6s">
                                        <h4>Location</h4>
                                        <address class="info">{{location}}</address>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="item wow inShow" data-wow-delay="0.65s">
                                        <h4>QQ</h4>
                                        <div class="info">{{qq.number}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3"><a class="item wow inShow" data-wow-delay="0.7s" href={{website}} target="_blank"><h4>Website</h4><div class="info">{{website}}</div></a></div>
                                <div class="col-md-6 col-lg-3"><a class="item wow inShow" data-wow-delay="0.75s" href="{{github}}" target="_blank"><h4>Github</h4><div class="info">{{github}}</div></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="section-bg section-header-bg"></div>
                <div class="section-bg section-content-bg"></div>
                <header class="header">
                    <div class="content-box">
                        <h2 class="title">介绍&nbsp;/&nbsp; <small><i>Intro</i></small></h2>
                        <div class="description">介绍一些个人基本情况</div>
                    </div>
                </header>
                <div class="section-content">
                    <div class="intro">
                        <p>{{intro[0]}}</p>
                        <p>{{intro[1]}}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="section-bg section-header-bg"></div>
                <div class="section-bg section-content-bg"></div>
                <header class="header">
                    <div class="content-box">
                        <h2 class="title">工作经验&nbsp;/&nbsp; <small><i>Experience</i></small></h2>
                        <div class="description">不同时期简短的从业经历介绍</div>
                    </div>
                </header>
                <div class="section-content">
                    <div class="experience">
                        {{each experience as item}}
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="time">{{item.time}}</div>
                                        <div class="title">{{item.title}}</div>
                                        <div class="description">{{item.intro}}</div>
                                    </div>
                                    <div class="col-md-7">{{item.description}}</div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="section">
            <div class="container">
                <div class="section-bg section-header-bg"></div>
                <div class="section-bg section-content-bg"></div>
                <header class="header">
                    <div class="content-box">
                        <h2 class="title">技能&nbsp;/&nbsp; <small><i>Skills</i></small></h2>
                        <div class="description">我所掌握的工具和技术栈</div>
                    </div>
                </header>
                <div class="section-content">
                    <div class="row skill">
                        {{each skill as item}}
                            <div class="col-md-6">
                                <div class="item">
                                    <div class="text-info"><span class="num text-light">{{item.percent}}</span>{{item.name}}</div>
                                    <div class="progress">
                                        <div class="progress-bar wow progressShow" style="width:{{item.percent}}"></div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section> -->
        <!-- <section class="section">
            <div class="container">
                <div class="section-bg section-header-bg"></div>
                <div class="section-bg section-content-bg"></div>
                <header class="header">
                    <div class="content-box">
                        <h2 class="title">项目经验&nbsp;/&nbsp; <small><i>Experience</i></small></h2>
                        <div class="description">近期主要做过的一些项目</div>
                    </div>
                </header>
                <div class="section-content">
                    <div class="experience">
                        {{each project as item}}
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="time">{{item.time}}</div>
                                    <div class="title">{{item.title}}</div>
                                    <div class="description">{{item.intro}}</div>
                                </div>
                                <div class="col-md-7">{{item.description}}</div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section> -->
        <section class="section">
            <div class="container">
                <div class="section-bg section-header-bg"></div>
                <div class="section-bg section-content-bg"></div>
                <header class="header">
                    <div class="content-box">
                        <h2 class="title">常逛&nbsp;/&nbsp; <small><i>Usually</i></small></h2>
                        <div class="description">经常逛的技术或者设计相关网站</div>
                    </div>
                </header>
                <div class="section-content">
                    <div class="row usually">
                        {{each usually as item}}
                            <div class="col-lg-4 col-md-6">
                                {{if item.link}}
                                <a href="{{usually.link}}" target="_blank" class="item" title={{usually.link}}>
                                    <i class="fa fa-github"></i>
                                    <h3 class="text-light">{{item.name}}</h3>
                                    <p>{{item.description}}</p>
                                </a>
                                {{else}}
                                <div class="item" title={{item.link}}><i class="fa fa-github"></i>
                                    <h3 class="text-light">{{item.name}}</h3>
                                    <p>{{item.description}}</p>
                                </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
        <section class="section no-print">
            <div class="container">
                <div class="section-bg section-header-bg"></div>
                <div class="section-bg section-content-bg"></div>
                <header class="header">
                    <div class="content-box">
                        <h2 class="title">联系&nbsp;/&nbsp; <small><i>Contact</i></small></h2>
                        <div class="description">通过这些信息可以联系到我</div>
                    </div>
                </header>
                <div class="section-content">
                    <div class="contact">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="item">
                                    <h4>Location</h4>
                                    <div class="info">{{location}}</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="item">
                                    <h4>tel</h4>
                                    <div class="info">{{tel}}</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3"><a class="item" href="{{website}}" target="_blank"><h4>Website</h4><div class="info">{{website}}</div></a></div>
                            <div class="col-md-6 col-lg-3"><a class="item" ><h4>Email</h4><div class="info">{{email}}</div></a></div>
                        </div>
                    </div>
                    <div class="name-slogan">
                        <h2 class="wow inShow"><span class="text-light">{{lastName}}</span>&nbsp;{{firstName}}</h2>
                        <div class="description wow inShow" data-wow-delay="0.05s">{{slogan}}</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</body>

</html>
