<!DOCTYPE html>

<html lang="zh">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1" />

<link rel="shortcut icon" href="/image/favicon.ico" />

<link rel="stylesheet" href="/css/vegas.min.css">

<script src="https://hm.baidu.com/hm.js?0b679ce32c80131bfbd2f7ba9b139968"></script>

<title> 2017照片集 </title>

</head>

<body>


{{include './public/pubjs'}}
<script src="/js/vegas.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('body').vegas({
            slides: [
                { src: '/image/5.png' },
                // { src: '/image/6.png' },
                { src: '/image/7.png' },
                // { src: '/image/8.png' },
                { src: '/image/9.jpg' },
                { src: '/image/11.jpg' },
                // { src: '/image/12.jpg' },
                { src: '/image/13.jpg' },
                { src: '/image/14.jpg' },
                { src: '/image/15.jpg' },
                { src: '/image/16.jpg' },
                { src: '/image/17.jpg' },
                { src: '/image/18.jpg' },
                { src: '/image/19.jpg' },
                { src: '/image/20.jpg' },
                { src: '/image/21.jpg' },
                { src: '/image/22.jpg' },
                // { src: '/image/23.jpg' },
                // { src: '/image/24.jpg' },
                // { src: '/image/25.jpg' },
                // { src: '/image/26.jpg' },
                { src: '/image/27.jpg' },
                { src: '/image/28.jpg' },
                { src: '/image/29.jpg' },
                

                


            ],
            animation: 'random'
        });
    });
    
</script>

</body>

</html>
