<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>注册</title>
    <link rel="shortcut icon" href="/image/favicon.ico" />
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/signup.css">
    <script src="https://hm.baidu.com/hm.js?0b679ce32c80131bfbd2f7ba9b139968"></script>
</head>

<body>
    <div class="ui middle aligned center aligned grid big-cover">
        <div class="column">
            <h2 class="ui inverted image header">
                <img src="/image/yu.png" class="image">
                <div class="content">
                    注册你的账户
                </div>
            </h2>
            <form class="ui large form" method="post">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="name" placeholder="昵称">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="repassword" placeholder="确认密码">
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">注册</div>
                </div>
                <div class="ui error message"></div>
            </form>
            <div class="ui message">
                已有账号? <a href="/signin">登陆</a>
            </div>
        </div>
    </div>
    {{include './public/pubjs'}}
    <script>
       $(document).ready(function() {
            $('.ui.form').form({
                fields: {
                    email: {
                        identifier  : 'email',
                        rules: [{
                            type   : 'empty',
                            prompt : '请输入邮箱'
                        },
                        {
                            type   : 'email',
                            prompt : '请输入一个邮箱的账号'
                        }]
                    },
                    name:{
                        identifier:'name',
                        rules: [{
                          type   : 'empty',
                          prompt : '请输入昵称'
                        },
                        {
                          type   : 'length[2]',
                          prompt : '昵称必须不能少于2个字或4个字母'
                        }]
                    },
                    password: {
                        identifier  : 'password',
                        rules: [{
                          type   : 'empty',
                          prompt : '请输入密码'
                        },
                        {
                          type   : 'length[6]',
                          prompt : '密码长度必须大于6位'
                        }]
                    },
                    repassword: {
                        identifier:'repassword',
                        rules:[{
                            type : 'empty',
                            prompt:'请确认密码'
                        },
                        {
                            type : 'match[password]',
                            prompt: '两次密码输入不一致'
                        }]
                    }
                }
            });
        });
    </script>
    {{include './public/footer'}}
