<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="shortcut icon" href="/image/favicon.ico" />
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/signup.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?0b679ce32c80131bfbd2f7ba9b139968";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>

<body>
<div class="ui middle aligned center aligned grid big-cover">
    <div class="column">
        <h2 class="ui inverted image header">
      <img src="/image/yu.png" class="image">
      <div class="content">
        登陆你的账户
      </div>
    </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">登陆</div>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            新用户? <a href="/signup">注册</a>
        </div>
    </div>
</div>
{{include './public/pubjs'}}
<script>
       $(document).ready(function() {
            $('.ui.form').form({
                fields: {
                    email: {
                        identifier  : 'email',
                        rules: [{
                            type   : 'empty',
                            prompt : '请输入邮箱'
                        },
                        {
                            type   : 'email',
                            prompt : '请输入正确的邮箱'
                        }
                    ]
                    },
                    password: {
                        identifier  : 'password',
                        rules: [{
                          type   : 'empty',
                          prompt : '请输入密码'
                        },
                        {
                          type   : 'length[6]',
                          prompt : '密码长度必须大于6位'
                        }
                    ]}
                }
            });
        });
    </script>
{{include './public/footer'}}
