<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="http://cooti.oss-cn-hangzhou.aliyuncs.com/home/favicon.ico?Expires=1491988130&OSSAccessKeyId=TMP.AQGe65zVXQq2lbOBPvBwZYGySY7UYO1mSJE8rsoxe5Y2g6tCewuZuzN7vKvjMC4CFQC3yv1D2xoeIrti7GhH12tYjinAIAIVAPBFk7lPBh3_or8xjX9XEf9HHKyg&Signature=f2AjNfAmMkkUraYQem5IXeIMDWw%3D" /> 
    <link rel="stylesheet" href="/css/main.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?0b679ce32c80131bfbd2f7ba9b139968";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>